.cart {
    margin-top: 120px;
    min-height: 100vh;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart p {
    margin-top: 3rem;
}

.cart__list {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 2rem;
    min-height: 300px;
}

.cart__list-header {
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    /* color: var(--blue); */
    font-size: 1.1rem;
    font-weight: 600;
}

.cart__item {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0.5rem 0px;
}

.cart__btn_remove {
    color: rgb(228, 5, 5);
    font-size: 1.2rem;
}

.cart__btn_remove:hover {
    opacity: 0.7;
}

.quantity__cart_box {
    display: flex;
}

.cart__btn_remove>p {
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: rgba(232, 49, 49, 0.94);
    font-weight: 600;
    color: white;
}

.cart__quality,
.cart__quanlity {
    width: 3rem;
    padding: 1rem;
    font-weight: 600;
}

.cart__quality:hover {
    opacity: 0.9;
}

.cart__product__title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
}

.cart__checkout__form {
    /* padding-bottom: 2rem; */
}

.cart__checkout {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 1.5rem;
    border-radius: 2rem;

}

.cart__checkout__btn__coupon {
    background-color: red !important;
    border: none !important;
}

.cart__checkout__btn__coupon:hover {
    opacity: 0.8;
}

.cart__checkout__coupon {
    font-size: 1.2rem;
    font-weight: 600;
}

.cart__checkout__title__price {
    font-weight: 600;
    margin-bottom: 0.5rem !important;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
}

.cart__checkout__title__price__total {
    opacity: 1;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cart__checkout__btn {
    background-color: #ee4d2d !important;
    font-size: 1.2rem !important;
    padding: 1rem !important;
    border: none !important;
    width: 100%;
}

.cc {
    width: 100%;
    opacity: 1;
    transition: opacity 0.6s;
}

.cc:hover {
    opacity: 0.7;
}

.cart__product__size {
    opacity: 0.7;
}

.cart__price {
    font-size: 1.1rem;
    font-weight: 500;

}

/*  */
.quantity {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.product-qty {
    width: 2rem;
    height: 2rem;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.product-qty:active{
    transform: scale(1.2);
}
.cart__checkout__title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E1E8EE;
}

.coupon-checkout {
    margin-bottom: 1rem;
}