.products {
   padding-top: 100px;
   padding-bottom: 5rem;
   min-height: 100vh;

}

.products__title {
   margin-bottom: 2rem;
}

.card__img {
   overflow: hidden;
}

.img__product {
   transition: all .4s ease-in-out;
}

.img__product:hover {
   transform: rotate(45deg) scale(2);

}

.card__btn {
   color: var(--white);
   background-color: var(--blue) !important;
}

.card__btn:hover {
   opacity: 0.9;
}

.card__link__btn {
   display: flex;
   justify-content: space-around;
   margin-bottom: 2rem;
}

.paginate__container {
   display: flex;
   margin: auto;
   padding-top: 7rem;
   justify-content: center;
}

.round-effect {
   border: 2px var(--blue) solid;

   font-size: 1rem;
   margin: 1rem 0.2rem;
   padding: 0.2rem 1rem;
   border-radius: 25%;
}

.paginate__number {
   color: var(--blue);
   margin: 0;

}

.active__number-bg {
   background-color: var(--blue);

}

.active__number {
   color: var(--white);

}

.round-effect i {
   color: var(--blue);
}

.round-effect-add {
   font-size: 1.1rem;
   margin: 1rem 0.2rem;
   padding: 0.2rem 1rem;
   border-radius: 25%;
}

.sort-product {
   font-weight: 600;
   display: flex;
   justify-content: end;
   padding: 0 1rem 1rem 0;
}

/* test */
.product-card {
   position: relative;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
 }
 
 .product-image {
   position: relative;
   width: 100%;
   height: 100%;
 }
 
 .product-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.5s ease;
 }
 
 .product-image:hover img {
   transform: scale(1.1);
 }
 
 .product-hover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.382);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: opacity 0.5s ease;
 }
 
 .product-hover button {
   padding: 15px 30px;
   border: none;
   border-radius: 5px;
   background-color: #2ecc71;
   color: #fff;
   font-size: 1.2rem;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.5s ease;
 }
 
 .product-hover button:hover {
   background-color: #27ae60;
 }
 
 .product-image:hover .product-hover {
   opacity: 1;
 }
 .product-card:hover .product-name{
   color: #fff;
 }
 .product-info {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 30%;
   padding: 20px;
   background-color: transparent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 
 .product-name {
   margin-bottom: 10px;
   font-size: 1.3rem;
   font-weight: bold;
   color: #333;
   transition: all 0.5s ease;

 }
 .product-name:hover{
   transform: scale(1.05);
   text-shadow: 1px 1px 2px rgba(88, 88, 88, 0.54);

 }
 
 .product-rating {
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .product-info:hover .product-name{
   color: #333;

 }
 .product-rating i.fa-star {
   color: #f1c40f;
   font-size: 18px;
   margin-right: 5px;
 }
 
 .product-price {
   font-size: 1.3rem;
   font-weight: bold;
   color: #d7591a;
 }
 