.container_nav{
  height: 100% !important;
}
.nav__header {
  background-color: var(--white);
  color: black !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 90px;
  opacity: 1 !important;
  transition: height 0.4s ease;
}

.navbar-logo {
  width: 8rem;
}

.search__bar {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.search__bar {
  width: 100%;
  padding: 9px 10px 9px 32px;
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.search__bar:focus {
  /* width: 300px; */
  background-color: #fff;
  border-color: var(--blue);
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

.shrink {
  height: 70px;
  box-shadow: rgba(70, 74, 79, 0.5) 0px 8px 24px;
  z-index: 100;
}

.navbar__item {
  padding: 0 1.5rem;
}

.navbar__dropdown,
.navbar__cart {
  margin: auto;
}

.navbar__item-link:hover {
  color: var(--blue);
  font-weight: 600;
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {

  border-color: var(--white) !important;
}
.navbar__dropdown__toggle {
  border-color: none !important;

}
.dropdown-item-account{
  font-style: italic;
}
.dropdown-item-account>i{
  padding-right: 1rem;
}
.dropdown-item{
  font-size: 1.2rem !important;
}
.dropdown-item:active{
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  border-color: none !important;

}

.navbar__cart .linktext:hover {
  color: var(--blue) !important;
}

.active {
  color: var(--blue);
  font-weight: 600;
}

.header__menu__cart {
  position: relative;
  margin: auto;
}

.header__menu__cart .header__menu__count-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.7rem !important;
  background-color: red;
  padding: 0.3rem;
  border-radius: 50%;
  color: white;
}