.nav_admin{
    height: 80px;
    background-color: #24292f;

}
.font_main_nav{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}
.nav_admin_center .navbar__item-link{
    padding: 0rem 2rem;
}