.containerx {
    display: flex;
}

.sidebar {
    background-color: var(--blue);
    color: var(--white);
    height: 100vh;
    position: fixed;

}

.sidebar_top {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.sidebar_link {
    display: flex;
    font-size: 1.2rem;
    padding: 1rem 10rem 1rem 1rem;
    color: var(--white);
    margin: 0.2rem 1rem;
}

.sidebar_link:hover {
    background-color: olivedrab;
    color: var(--white);
    border-radius: 5px;
    opacity: 0.9;
}

.active_side {
    background-color: olivedrab;
    border-radius: 5px;
}

.sidebar_icon {
    padding-right: 1rem;
}