.home {
  background-color: var(--white);
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 90px;
}

.home-title {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

/* Slide css */
.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .slide__info {
  flex-grow: 2;
  padding-right: 2rem;
  position: relative;


}

.slide .slide__img {
  flex-grow: 1;
  overflow: hidden;
}

.slide__img>img {
  width: 100%;
  height: auto;
}

.slide__info__title {
  font-size: 3.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.slide__info__desc {
  font-size: 1.2rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  opacity: 0.7;
}

.slide__info__btn>span {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--blue);
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  transition: opacity 5 ease;

}

.slide__info__btn>span:hover {
  opacity: 0.7;
}

/* policy */
.policy-card {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policy-card__item {
  padding: 1rem ;
  background-color: white;
  height: 100px !important;
  box-shadow: rgba(184, 188, 193, 0.5) 0px 8px 24px;

}

.policy__desc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.policy-card__icon {
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.policy-card__icon>i {
  font-size: 2.2rem;
  color: var(--blue);
}

.policy-card__info__name {
  font-weight: 600;
  font-size: 1.2rem;
}

.policy-card__info__description {
  opacity: 0.7;
}

.policy-card__info__name,
.policy-card__info__description {
  padding: 0.5rem 0;
}
