.container_nav {
  padding: 0 2rem !important;
  height: 100% !important;
}

.nav__header {
  background: rgb(255,255,255);
  color: var(--white) !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 90px;
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
}

.header__logo span {
  padding-left: 2rem;
  font-weight: 700;
  font-size: 3rem;
  color: var(--blue);
}

.navbar-logo {
  width: 8rem;
}

.search__bar {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.search__bar {
  color: black;
  font-size: 1.2rem;
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 32px;
  background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 2px #3c3b3b5a;

  /* -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em; */
  border-radius: 0.6rem;

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.search__bar:focus {
  /* width: 300px; */
  background-color: #ffffffc3;
  border-color: var(--blue);
  transform: scale(1.05);
  outline: none;
  /* -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5); */
}

.shrink {
  height: 70px;
  background-color: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  z-index: 100;
}

.navbar__item {
  padding: 0 1.5rem;
  font-weight: 500;
}

.navbar__dropdown,
.navbar__cart {
  margin: auto;
}

.navbar__item-link:hover {
  color: var(--blue);
  font-weight: 600;
}


.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {

  border-color: var(--white) !important;
}

.navbar__dropdown__toggle {
  border-color: none !important;

}

.dropdown-item-account {
  font-style: italic;
}

.dropdown-item-account>i {
  padding-right: 1rem;
}

.dropdown-item {
  font-size: 1.2rem !important;
}

.dropdown-item:active {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: none !important;

}

.navbar__cart .linktext:hover {
  color: var(--blue) !important;
}

.active_nav {
  color: var(--blue) !important;
  font-weight: 600;
}

.header__menu__cart {
  position: relative;
  margin: auto;
}

.header__menu__cart .header__menu__count-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.7rem !important;
  background-color: red;
  padding: 0.3rem;
  border-radius: 50%;
  color: white;
}