.intro {
    background-color: green;
    height: 100vh;
    margin-top: 400px;
    font-size: 1.5rem;
    color: var(--white);
}

.product__list {}

.product__list-item {
    border: 1px black solid;
    background-color: var(--blue);
}